{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

<script type="text/javascript">
    $(document).ready(function(){
        $('div.comments').hide();
    });
</script>

<style>
div.comment {
    border-radius: 5px;
    margin: 5px;
    padding : 3px;
}

</style>


<div id='content'>
<h4/>{{=question_title}}</h4>
<ul>
{{if question_title == 'List of questions':}}
    {{for question in list_of_questions:}}
        <li>{{=A(question.title,_href=URL('questions?event_id='+str(event_id)+'&question_no='+str(question.question_no)))}}</li>
    {{pass}}
</ul>
{{else:}}
        <div class='question'>
            {{=XML(question_statement)}}
        </div>
        <hr />
        <div class='answer'>
            <form action='judge?event_id={{=event_id}}&question_no={{=question_no}}' method='post' enctype="multipart/form-data">
            {{=XML(answer)}}
            <hr />
            <input type='submit' value='Answer!'/>
            </form>
        </div>
{{pass}}
</div>



<button onclick="$('div.comments').toggle(100)"> Comments </button>

<div class="comments">
    {{=form}}
    {{ for comment in comments:}}
        <div class='comment'>
        <span clas="comment_user"> {{=comment.user_id.first_name}} </span><br />
        <span class="comment_content"> &nbsp; &nbsp;{{=comment.comment}} </span>
        </div>
    {{pass}}

    <br />
</div>


{{block right_sidebar}}
<h3> Options </h3>
<ul>
    {{for tab in tabs:}}
        <li>{{=A(tab.title,_href=URL('event_home?event_id='+str(event_id)+'&tab_id='+str(tab.tab_id)))}}</li>

    {{pass}}
        <li>{{=A("Question Statement",_href=URL('questions?event_id='+str(event_id)+'&question_no='+str(0)))}}</li>

  <li>{{=A("Score Board",_href=URL('scoreboard?event_id='+str(event_id)))}}</li>

</ul>
{{end}}

